<h1 mat-dialog-title>Delete</h1>
<div mat-dialog-content>
  <p>Delete scheme</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [formControl]="nameInputTextFormControl" [(ngModel)]="data.name">
    <mat-hint *ngIf="!data.name">Enter scheme name to delete</mat-hint>
    <mat-hint *ngIf="!!data.name && !hasSameName">The name is not exists</mat-hint>
    <mat-error *ngIf="nameInputTextFormControl.hasError('required')">
      You must enter a name
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>