<app-header></app-header>
<mat-spinner class="spin-prog" *ngIf="isLoading" diameter="50"></mat-spinner>
<div class="scheme-container">
  <div class="scheme-control">
    <button mat-raised-button color="primary" (click)="deleteField()">Delete</button>
    <button mat-raised-button color="primary" (click)="addNewField()">Add</button>
  </div>
  <form name="scheme-form">
    <mat-form-field *ngFor="let item of formItems" class="scheme-full-width">
      <mat-label>{{item.title}}</mat-label>
      <mat-select [(value)]="item.value">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="scheme-control">
    <button mat-raised-button color="primary" (click)="saveDidSelect()">Save</button>
  </div>
</div>