<div class="msg" *ngIf="isCheckingPermissions">
  <div class="msg-text">Checking permissions...</div>
  <mat-spinner color="accent"></mat-spinner>
</div>
<div *ngIf="!isCheckingPermissions">
  <div *ngIf="isAdmin">
    <p>
      data works!
    </p>
  </div>
  <div class="msg" *ngIf="!isAdmin">
    <div class="msg-title">Permission denined!</div>
    <div class="msg-text">Get your unique identifier below button and send to administrator.</div>
    <div class="field-id">{{userId}}</div>
    <button mat-raised-button color="primary" (click)="showUserId()">Show User Identifier</button>
  </div>
</div>
