@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the theme.
$primary: mat-palette($mat-cyan);
$accent:  mat-palette($mat-cyan, 600, 100, 800);
$warn:    mat-palette($mat-cyan, 600);
$theme: mat-light-theme($primary, $accent, $warn);
// Include the theme styles for only specified components.
@include mat-core-theme($theme);
@include mat-button-theme($theme);
@include mat-progress-spinner-theme($theme);

:host {
  height: 100%;
}

.msg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 256px;
  height: 256px;
  margin: -128px 0 0 -128px;
  text-align: center;
}

.msg-title {
  font-size: 28px;
  font-weight: 300;
}

.msg-text {
  font-size: 16px;
  line-height: 20px;
}

.msg-title,
.msg-text,
.field-id {
  margin-bottom: 20px;
}

.field-id {
  height: 50px;
  overflow: hidden;
  border: solid #ccc 1px;
  line-height: 52px;
}

.msg > mat-spinner {
  margin-left: 78px;
}

.mat-raised-button {
  font-weight: 100;
}
