:host {
  display: block;
  position: relative;
}

.mat-icon {
  font-size: 14px;
}

.table-box {
  padding: 20px;
}

.table-box button.save-button {
  position: fixed;
  right: -5px;
  bottom: -6px;
  z-index: 100;
  background-color: rgb(244, 67, 54);
}

.table-box button.save-button mat-icon {
  font-size: 22px;
}

.table-container {
  overflow-x: auto;
}

table.data-table thead {
  display: block;
}

table.data-table tbody {
  display: block;
  overflow-y: auto;
  -webkit-transition: height .25s; /* Safari */
  transition: height .25s;
}

table.data-table tr {
  min-width: 300px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

table.data-table th,
table.data-table td {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0,0,0,.54);
  text-align: left;
  vertical-align: middle;
}

table.data-table th {
  position: relative;
  padding: 10px 5px;
  box-sizing: border-box;
  cursor: pointer;
}

table.data-table th mat-icon {
  position: absolute;
  vertical-align: text-top;
  height: 14px;
}

table.data-table th .fixed-column {
  position: relative;
}

table.data-table th .fixed-column > div {
  position: fixed;
}

table.data-table td input[type="text"] {
  padding: 0 5px;
  margin: 1px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0,0,0,.54);
  text-align: left;
  vertical-align: middle;
  border: none;
  min-height: 54px;
}

table.data-table th:first-of-type,
table.data-table td:first-of-type {
  padding-left: 24px;
}

table.data-table th:last-of-type,
table.data-table td:last-of-type {
  padding-right: 24px;
}

.no-data-selected {
    text-align: center;
    line-height: 200px;
}

.mat-table {
  overflow: auto;
}

mat-row.selected {
  background: #FFE51F;
}

.cdk-overlay-pane {
  overflow: auto;
}

.progress-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
}

mat-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
