
<button mat-button [matMenuTriggerFor]="versionMenu">Version {{ data?.title }}</button>
<mat-menu #versionMenu="matMenu">
  <button mat-menu-item *ngFor="let item of dataList" (click)="versionMenuDidSelect($event, item.id)">{{ item.title }}</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="columnMenu">Custom Column</button>
<mat-menu #columnMenu="matMenu">
  <button mat-menu-item *ngFor="let item of columns" (click)="columnMenuDidSelect($event, item.key)"><mat-icon *ngIf="item.selected">done</mat-icon>{{ item.name }}</button>
</mat-menu>
<div class="table-box">
  <div *ngIf="dataSource" class="data-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
        <mat-cell *matCellDef="let car"> {{car[column]}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
          (click)="rowDidClick(i)" (dblclick)="rowDidDoubleClick(i)" [class.selected]="i === selectedIndex">
      </mat-row>
    </mat-table>
  </div>
</div>

<div class="progress-cover" *ngIf="isLoading">
  <mat-spinner color="accent"></mat-spinner>
</div>
