
<button mat-button [matMenuTriggerFor]="versionMenu">Version {{ data?.title }}</button>
<mat-menu #versionMenu="matMenu">
  <button mat-menu-item *ngFor="let item of dataList" (click)="versionMenuDidSelect($event, item.id)">{{ item.title }}</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="columnMenu">Custom Column</button>
<mat-menu #columnMenu="matMenu">
  <button mat-menu-item *ngFor="let item of columns" (click)="columnMenuDidSelect($event, item.key)"><span *ngIf="item.selected">V</span>{{ item.name }}</button>
</mat-menu>

<div *ngIf="dataSource" class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Brand </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.brand}} </mat-cell>
    </ng-container>

    <!-- Display Name Column -->
    <ng-container matColumnDef="display_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.display_name}} </mat-cell>
    </ng-container>

    <!-- HP Column -->
    <ng-container matColumnDef="hp">
      <mat-header-cell *matHeaderCellDef mat-sort-header> HP </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.hp}} </mat-cell>
    </ng-container>

    <!-- Torque Column -->
    <ng-container matColumnDef="torque">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Torque </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.torque}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.weight}} </mat-cell>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
      <mat-cell *matCellDef="let car"> {{car.year}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
